@import url('https://masumbillah6778.github.io/fonts/bangla/english-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.password-box {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  position: relative;
  border: 2px solid red;
}

h1 {
  color: blue;
  text-align: center;
  font-family: 'solaiman-lipi';
}

.img-box {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-box img {
  width: 180px;
  height: 180px;
  padding: 10px;
  border: 5px solid red;
}

.Password-head {
  color: blue;
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'times';
  text-align: center;
}

.text-input {
  background-color: gold;
  color: red;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  padding-left: 10px;
  font-size: 20px;
  font-family: times;
  font-weight: bold;
  border: 1px solid black;
  text-shadow: -50px 0px 0px rgba(66,66,66,.0);
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
  /*box-shadow: -1px 2px 4px rgba(59,59,59,.86)*/;
}

.text-input:focus {
  outline:none;
}

.text-input::placeholder {
  color: red;
  opacity: 0.3;
}

label {
  background: white;
  -webkit-background-clip: text;
  color: transparent;
  padding: 20px;
  top: -35px;
  left: 15px;
  padding: 0 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: Times;
  position: relative;
  text-transform: capitalize;
  transition: top .3s;
  pointer-events: none;
  opacity: 0.3;
}

input:focus ~ label,
input:valid ~ label {
  background: gold;
  color: red;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: Times;
  top: 460px;
  position: absolute;
  opacity: 1;
  border-left: 2px solid red;
  border-right: 2px solid red;
}

.error-text {
  background-color: red;
  color: white;
  width: 100%;
  margin-bottom: -80px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: times;
  text-align: center;
  display: none;
  border: 1px solid blue;
  border-radius: 5px;
}

.submit-btn {
  background-color: green;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px;
  font-size: 20px;
  font-family: times;
  font-weight: bold;
  text-align: center;
  display: block;
  border-radius: 6px;
  border: 1px solid red;
  text-shadow: 0px 1px 0px #7cacde;
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
}

.submit-btn:hover {
  background-color: green;
}

.submit-btn:active {
  position: relative;
  top: 1px;
}

div.note-text {
  background-color: red;
  width: 100%;
  height: 85px;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: solaiman-lipi;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 3px solid blue;
}






/* ===================================== TABLET, LAPTOP, DESKTOP, TV SCREEN SIZE ===================================== */

@media only screen and (orientation: landscape) {
  .img-box {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .img-box img {
    border-radius: 50px;
    border: 5px solid blue;
  }

  .Password-head {
    color: green;
    margin-top: 5px;
  }

  .text-input {
    background-color: #fb4f14;
    color: white;
    margin-top: 50px;
  }

  label {
    top: -35px;
  }

  input:focus ~ label,
  input:valid ~ label {
    background: #fb4f14;
    color: yellow;
    top: 317px;
    border-left: 2px solid yellow;
    border-right: 2px solid yellow;
  }

  .text-input::placeholder {
    color: white;
    opacity: 0.3;
  }

  .error-text {
    background-color: red;
    color: white;
    margin-bottom: -60px;
  }

  .submit-btn {
    background-color: blue;
    color: yellow;
    margin-top: 5px;
  }

  div.note-text {
    background-color: brown;
    color: yellow;
    height: 50px;
  }
}





/* ===================================== MOBILE SCREEN SIZE ===================================== */

@media only screen and (orientation: portrait) , (max-width: 500px) {
  .password-box {
    background-color: aqua;
    width: 100%;
  }

  .img-box img {
     border-radius: 100px;
     border: 5px solid green;
  }

  input:focus ~ label,
  input:valid ~ label {
    background: gold;
    color: red;
    top: 470px;
    border-left: 2px solid red;
    border-right: 2px solid red;

  div.note-text {
    font-size: 15px;
  }
}






	

