.classname {
	box-shadow: inset 0px 1px 0px 0px #bee2f9;
	background-color: #63b8ee;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #3866a3;
	display:inline-block;
	color: #14396a;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 34px;
	line-height: 34px;
	width: 133px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #7cacde;
	margin-top: 15px;
}
.classname:hover {
	background-color: #468ccf;
}
.classname:active {
	position: relative;
	top: 1px;
}
.css-input {
	margin-right: 25px;
     padding: .85em 1em;
     height: 50px;
     width: 200px;	
     border-width: 3px;
     border-color: #504f4f;
     background-color: #FF0000;
     color: #FFFF00;
     border-style: solid;
     border-radius: 0px;
     box-shadow: -1px 2px 4px rgba(59,59,59,.86);
     text-shadow: -50px 0px 0px rgba(66,66,66,.0);
}
 .css-input:focus {
     outline:none;
}

.error-text{
  background: #F8D7DA;
  padding: 15px;
  border-radius: 5px;
  color: #8B3E46;
  border: 1px solid #F5C6CB;
  display: none;
  margin-bottom: 10px;
  font-weight: bold;
  width: 90%;
  text-align: center;
}
