@import url('https://masumbillah6778.github.io/fonts/bangla/english-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  background: pin;
  width: 962px;
  aspect-ratio: 16 / 9;
  padding: 10px;
  position: relative;
  border: 2px solid red;
}

h1 {
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'solaiman-lipi';
  text-align: center;
}

h2 {
  color: blue;
  font-family: 'solaiman-lipi';
}

.group-box {
  width: 100%;
  height: 365px;
  margin: 20px 0px;
  overflow-y: scroll;
  border: 1px solid black;
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}

div.gallery {
  border: 2px solid red;
  box-shadow: ;
}

div.gallery:hover {
  border: 2px solid green;
}

div.gallery img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  display: block;
}

div.desc {
  color: green;
  font-size: 30px;
  font-family: times;
  font-weight: bold;
  padding: 15px;
  text-align: center;
}

.responsive {
  width: 24.99999%;
  aspect-ratio: 16/9;
  margin: 6px 0;
  padding: 0 6px;
  float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



#footer {
  background-color: red;
  width: 98%;
  height: 55px;
  color: white;
  padding: 15px 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: solaiman-lipi;
  text-align: center;
  bottom: 0;
  position: absolute;
  border: 2px solid blue;
}





/* ==================== MOBILE SCREEN SIZE ==================== */  
  
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .content {
    background: aqua;
    width: 100%;
    min-height: 100vh;
    border: 2px solid black;
  }

  .group-box {
     width: 100%;
    height: 580px;
    margin: 20px 0px;
    overflow-y: scroll;
     border: 2px solid black;
     box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
    }
  
  div.desc {
    color: red;
    font-size: 15px;
  }
  
  .responsive {
    width: 100;
  }

  div.note-text {
    font-size: 15px;
  }

  #footer {
    background-color: red;
    width: 100%;
    height: 70px;
    color: white;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    font-family: solaiman-lipi;
    text-align: center;
    bottom: 0;
    position: absolute;
    border: 2px solid blue;
  }
}


